<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
        <h3>Pages makes it easy to enjoy what matters the most in your life</h3>
        <p>
          <small>
            Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
          </small>
        </p>



        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <%= devise_error_messages! %>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :email %>
                  <%= f.email_field :email, class:"form-control", autofocus: true %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :password %>
                  <%= f.password_field :password, class:"form-control", autocomplete: "off" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off" %>
                </div>
              </div>
            </div>


            <div class="row m-t-10">
              <div class="col-md-6">
                <p>I agree to the <a class="text-info small" href="#">Autoreach Terms</a> and <a class="text-info small" href="#">Privacy</a>.</p>
              </div>
              <div class="col-md-6 text-right">
                <%= render "devise/shared/links" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 no-padding">
                <%= f.submit "Sign up", class: 'btn btn-primary btn-cons m-t-10' %>
              </div>
              <div class="col-md-6 text-right">

              </div>
            </div>

        <% end %>

      </div>
    </div>
  </div>
</div>







