<div class="container-fluid container-fixed-lg bg-white">

  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">
        Setup a few keywords
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="row row-same-height">
        <div class="col-md-7 b-r b-dashed b-grey sm-b-b">
          <div class="padding-30 m-t-50">

            <%= form_tag("/dashboard/setup/create_keywords", method: "post") do %>
                <div class="form-group form-group-default required">
                  <%= label_tag("keywords[]", "Keyword 1") %>
                  <%= text_field_tag "keywords[]",nil, class: "form-control", required: true, autofocus: true %>
                </div>

                <div class="form-group form-group-default">
                  <%= label_tag("keywords[]", "Keyword 2") %>
                  <%= text_field_tag "keywords[]", nil, class: "form-control"%>
                </div>

                <div class="form-group form-group-default">
                  <%= label_tag("keywords[]", "Keyword 3") %>
                  <%= text_field_tag "keywords[]", nil, class: "form-control"%>
                </div>

                <%= submit_tag("Find Articles", class: "btn btn-primary") %>
            <% end %>


          </div>
        </div>
        <div class="col-md-5">
          <div class="padding-30 m-t-50">
            <h2>Almost there! One more step to put your content on auto pilot!</h2>
            <p>
              Enter a atleast one keyword as related to your customers interest.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
















