<% if current_user %>
    <li>
      <%= current_user.email %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
<% end %>

<%= link_to "Connect Twitter", 'auth/twitter' %>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<%= Token.last.inspect %>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<% UserKeyword.all.each do |keyword| %>
    <%= keyword.keyword %> | <%= keyword.weight %>
    <br/>
<% end %>