<% if @has_articles %>
  <%= render partial: 'edit_keyword' %>
  <div class="container-fluid container-fixed-lg bg-white">

  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">
        Article List
        <!-- Button trigger modal -->
      </div>
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editKeyword">
        Change Keyword
      </button>

      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
          <tr>
            <th width="60%">Article Details</th>
            <th style="padding: 8px 20px;">Keyword</th>
            <th style="padding: 8px 20px;">Status</th>
            <th style="padding: 8px 20px;">Actions</th>
          </tr>
          </thead>
          <tbody>

          <% @articles.each do |article| %>
              <tr>
                <td class="v-align-middle">
                  <a href="<%= article.url %>" class="bold"><%= article.title %></a>
                  <p style="margin-top: 5px;">
                    <%= truncate(article.content, :length => 255, :separator => ' ') %>
                  </p>
                </td>
                <td class="v-align-middle">
                  <span class="label"><%= UserKeyword.find(article.keyword_id)[:keyword] %></span>
                </td>
                <td class="v-align-middle">
                  <span class="label label-warning">Not Posted</span>
                </td>
                <td class="v-align-middle">
                  <div class="btn-group">
                    <button class="btn btn-success" type="button"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger delete_article" type="button" data-id="<%= article.id %>"><i class="fa fa-trash-o"></i></button>
                  </div>
                </td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<% elsif @processing  %>
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">

        </div>

      </div>
      <div class="panel-body">
        <div class="col-md-6  col-md-offset-3">
          <div style="width:100%">
            <div class="progress">
              <div class="progress-bar-indeterminate progress-bar-primary"></div>
            </div>
          </div>

          <div class="progress_explanation text-center">
            <h2>Congratulations!</h2>
            <p>
              Your setup is complete. We are searching the web for articles. This can take a few minutes. You can close this page. We will send you an email as soon as your articles are ready!
            </p>
          </div>

        </div>

      </div>
    </div>
    <script type="text/javascript">
        setTimeout(function(){
            location = ''
        },10000)
    </script>
<% else %>
  <!-- Keyword not working -->
<% end %>




